html {
    overflow: hidden;
    height: 100%;
}

body {
    overflow: auto;
    height: 100%;
}

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
#content-wrap {
    padding-bottom: 8rem;
}

.carousel-item{
    width: 100%; /*width you want*/
    height: 500px; /*height you want*/
    overflow: hidden;
}

.carousel-item > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 7rem;
}

.header {
    background-color: #192027;
}

.footer {
    background: #192027;
    text-align: center;
    padding: 32px 0;
    width: 100%;
}
.footer p {
    margin: 0;
    line-height: 26px;
    font-size: 13px;
    color: #999;
}

.row-break {
    margin: 30px;
}

/* css for image on students page cards */
.same-size-card-img {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

/* css for image on left pane of student window */
.student-frame {
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

.college-seal {
    max-height: 15vh;
    object-fit: cover;
}

/* css for image on right pane of project window */
.project-frame {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}