{% extends "layout.html" %}
{% block content %}
    <div class="container mt-5">
        <div class="row gx-5">
            <div class="col-lg-8 col-md-6">
                {% if project.source %}
                <div class="row">
                    <div class="col-11">
                        <h1>{{ project.name }} </h1>
                    </div>
                    <div class="col-1">
                        <a href="{{ project.source }}" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github fa-lg"></i></a>
                    </div>
                </div>
                {% else %}
                <h1>{{ project.name }} </h1>
                {% endif %}
                <hr />
                <p>{{ project.description }}</p>
                <br/>
                <iframe src="{{ project.video_url }}" width="100%" height="350vh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-lg-3 col-md-6">
            {% for student in get_member_pictures(project.members) %}
            {% if student.image %}
                <div>
                    <a href="{{ '../' ~ make_url(student.fName, student.lName) }}" >
                        <img class="img-fluid rounded project-frame" src="../static/img/students/{{ student.image }}" alt="{{ student.fName ~ ' ' ~ student.lName }}'s Portrait">
                    </a>
                </div>
                <br/>
            {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}